# Latihan

In [1]:
import numpy as np
import matplotlib.pyplot as plt

import pandas as pd
reviews = pd.read_csv("winemag-data-130k-v2.csv", index_col=0)
reviews.head(3)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm

In [2]:
price = reviews['price']

mean=price.mean()
median=price.median()
mode=price.mode()

print('Mean: ',mean,'\nMedian: ',median,'\nMode: ',mode[0])

Mean:  35.363389129985535
Median:  25.0
Mode:  20.0

In [3]:
reviews.describe()

              points          price
count  129971.000000  120975.000000
mean       88.447138      35.363389
std         3.039730      41.022218
min        80.000000       4.000000
25%        86.000000      17.000000
50%        88.000000      25.000000
75%        91.000000      42.000000
max       100.000000    3300.000000

# Latihan lagi

1. Normalisasi age and posttest
2. standarisasi

In [22]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
import matplotlib.pyplot as plt

data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy', 'Joane'], 
        'age': [42, 52, 42, 24, 73, 52], 
        'preTestScore': [4, 24, 31, 4, 3, 28],
        'postTestScore': [25, 94, 57, 62, 70, 76],
        'sex': ['M', 'F', 'F', 'M', 'F', 'F']}
df = pd.DataFrame(data, columns = ['name', 'age', 'preTestScore', 'postTestScore', 'sex'])
df

    name  age  preTestScore  postTestScore sex
0  Jason   42             4             25   M
1  Molly   52            24             94   F
2   Tina   42            31             57   F
3   Jake   24             4             62   M
4    Amy   73             3             70   F
5  Joane   52            28             76   F

In [20]:
x_array = np.array(df['age'])
normalized_x = preprocessing.normalize([x_array])
print(normalized_x)

[[0.34476066 0.42684654 0.34476066 0.19700609 0.59922687 0.42684654]]

In [21]:
y_array = np.array(df['postTestScore'])
normalized_y = preprocessing.normalize([y_array])
print(normalized_y)

[[0.15150124 0.56964466 0.34542283 0.37572308 0.42420347 0.46056377]]

In [ ]:
data